.navbar {
  padding-bottom: 0px;
}

.navbar h2 {
  color: #ffffff;
  font-family: 'Georgia', times, Times New Roman, serif;
  font-weight: bold;
}

.navbar-brand {
  background-color: #4aaaa5;
}

.container-background {
  background-image: url(https://hetty-chin.github.io/assets/images/leaves/leaves.png);  
}

.container h2, h3, h4 {
  color: #4aaaa5; 
  font-family: 'Georgia', times, Times New Roman, serif;
  font-weight: bold;
}

.container {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

.border {
  border-width: 3px !important;
  border-color: #cccccc !important;
}

.border-bottom {
  border-width: 3px !important;
  border-color: #cccccc !important;
}



.placeholder-text {
  background-color: #4aaaa5;
  background: rgba(74,170,165,0.5);
  color: #ffffff;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  position: absolute;
  left:0px;
  bottom: 25px;
}

.btn-outline-secondary {
  color: #4aaaa5 !important; 
  border-color: #4aaaa5 !important; 
}

.btn-success {
  background-color: #4aaaa5 !important; 
  border-color: #4aaaa5 !important; 
} 

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.border-top {
  border-width: 10px !important;
  border-color: #4aaaa5 !important; 
}